body {
  background-color:rgb(29, 29, 34);
  color: rgb(100,100,100)
}

a {
  color: rgb(100,100,100)
}
a:hover{
  color: rgb(110,110,110)
}
a:visited{
  color: rgb(90,90,90)
}

.path {
  fill:none;
  stroke-width:4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: dash 1s ease-out 1.9s forwards;
  opacity: 1;
}

.line {
  fill:none;
  stroke-width:4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash 2s ease-out 0.0s forwards;
  opacity: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

li {
  display: inline-block;
}

.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
}

.footer {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center; 
}

@font-face {
  font-family: 'rune';
  src: url('./assets/RunesEUR.ttf'); /* IE9 Compat Modes */
  src: url('./assets/RunesEUR.ttf') format('truetype'), /* IE6-IE8 */
}

body {
 font-family: "rune";
 font-size: 130%;
 font-weight: 800;
 /* animation: translate 2s ease-out 2.5s forwards; */
}

.spin {
  transition: all 2.07s ease;
  transform: rotateY(330deg)
}

@keyframes translate {
   /* 0%{   } */
   10%{ text-shadow:
1.85px 0.77px 1px rgb(120,120,120)

    ;}
   20%{ text-shadow:
2.00px 0.00px 1px rgb(120,120,120),
3.70px 1.53px 1px rgb(120,120,120),
4.24px 4.24px 1px rgb(120,120,120)
    ;}
   30%{ text-shadow:
1.85px -0.77px 1px rgb(120,120,120),
4.00px 0.00px 1px rgb(120,120,120),
5.54px 2.30px 1px rgb(120,120,120),
5.66px 5.66px 1px rgb(120,120,120),
3.83px 9.24px 1px rgb(120,120,120),
0.00px 12.00px 1px rgb(120,120,120)
    ;}
   40%{ text-shadow:
1.41px -1.41px 1px rgb(120,120,120),
3.70px -1.53px 1px rgb(120,120,120),
6.00px 0.00px 1px rgb(120,120,120),
7.39px 3.06px 1px rgb(120,120,120),
7.07px 7.07px 1px rgb(120,120,120),
4.59px 11.09px 1px rgb(120,120,120),
0.00px 14.00px 1px rgb(120,120,120),
-6.12px 14.78px 1px rgb(120,120,120),
-12.73px 12.73px 1px rgb(120,120,120)
    ;}
   50%{ text-shadow:
0.77px -1.85px 1px rgb(120,120,120),
2.83px -2.83px 1px rgb(120,120,120),
5.54px -2.30px 1px rgb(120,120,120),
8.00px 0.00px 1px rgb(120,120,120),
9.24px 3.83px 1px rgb(120,120,120),
8.49px 8.49px 1px rgb(120,120,120),
5.36px 12.93px 1px rgb(120,120,120),
0.00px 16.00px 1px rgb(120,120,120),
-6.89px 16.63px 1px rgb(120,120,120)
    ;}
   60%{ text-shadow:
0.00px -2.00px 1px rgb(120,120,120),
1.53px -3.70px 1px rgb(120,120,120),
4.24px -4.24px 1px rgb(120,120,120),
7.39px -3.06px 1px rgb(120,120,120),
10.00px 0.00px 1px rgb(120,120,120),
11.09px 4.59px 1px rgb(120,120,120),
9.90px 9.90px 1px rgb(120,120,120)
    ;}
   70%{ font-family: "rune"; 
      text-shadow:
-0.77px -1.85px 1px rgb(120,120,120),
0.00px -4.00px 1px rgb(120,120,120),
2.30px -5.54px 1px rgb(120,120,120),
5.66px -5.66px 1px rgb(120,120,120),
9.24px -3.83px 1px rgb(120,120,120)
    ;}
   /* 79%{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; } */
   80%{ font-family: "rune"; 
      text-shadow:
-0.77px -1.85px 1px rgb(120,120,120),
0.00px -4.00px 1px rgb(120,120,120),
2.30px -5.54px 1px rgb(120,120,120),
5.66px -5.66px 1px rgb(120,120,120)
    ;}
   90%{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-shadow:
-0.77px -1.85px 1px rgb(120,120,120),
0.00px -4.00px 1px rgb(120,120,120),
2.30px -5.54px 1px rgb(120,120,120)
    ;}
   100%{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 132%;
     font-weight: 100;
    };
}

