.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color:rgb(29, 29, 34);
  color: rgb(100,100,100)
}

.path {
  fill:none;
  stroke-width:4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: dash 1s ease-out 1.9s forwards;
  opacity: 1;
}

.line {
  fill:none;
  stroke-width:4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash 2s ease-out 0.0s forwards;
  opacity: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

li {
  display: inline-block;
}

.header {
  position: sticky;
  top: 0px
}

.footer {
  position: sticky;
  bottom: 0px
}